@import "navbar-style.css";
@import "color.css";
@import "singleitem-style.css";
@import "cartview-style.css";
@import "home.css";
@import "newitem.css";

.App {
  width: 100vw;
  height: 100vh;
}

body {
  position: fixed;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#special-button {
  font-size: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgb(210, 189, 230);
  border: 1px solid rgb(210, 189, 230);
  border-radius: 3px;
}

.all-view {
  display: flex;
  flex-direction: column;
}

.all-view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#all-view-header-text {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.all-view-header-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.all-view-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.all-view-single-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  border: 1px dotted black;
  border-radius: 15px;
  width: 290px;
}

.all-view-item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: lightcyan;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  justify-content: flex-end;
}

#info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.all-view-img {
  display: flex;
  justify-content: center;
}

#all-view-item-button {
  align-items: flex-end;
}
/*this is my styling for my homepage component, this should be added to a new file once tenzin makes her pull request*/
.special-collection {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: row;
  flex: 50%;
}
