.single-view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.single-view-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

div#item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button#big-cart {
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}

span#single-item-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

span#single-item-descrip {
  font-size: 14px;
}

span#rating {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
